<ion-slide-box class="stacks" show-pager="false" on-slide-changed="change(index)">
  <ion-slide class="stack" disable-scroll="false" data-title="Dribbble" data-title-class="brand-dribbble">
    <ion-scroll class="stack-scroll">
      <div ng-include src="'templates/feeds/dribbble/_index.html'"></div>
    </ion-scroll>
  </ion-slide>
  <ion-slide class="stack" disable-scroll="false" data-title="Hacker News" data-titleclass="brand-hacker_news">
    <ion-scroll class="stack-scroll">
      <div ng-include src="'templates/feeds/dribbble/_index.html'"></div>
    </ion-scroll>
  </ion-slide>
  <ion-slide class="stack" disable-scroll="false" data-title="Designer News" data-titleclass="brand-designer_news">
    <ion-scroll class="stack-scroll">
      <div ng-include src="'templates/feeds/dribbble/_index.html'"></div>
    </ion-scroll>
  </ion-slide>
  <ion-slide class="stack" disable-scroll="false" data-title="Behance" data-titleclass="brand-behance">
    <ion-scroll class="stack-scroll">
      <div ng-include src="'templates/feeds/dribbble/_index.html'"></div>
    </ion-scroll>
  </ion-slide>
  <ion-slide class="stack" disable-scroll="false" data-title="Product Hunt" data-titleclass="brand-product_hunt">
    <ion-scroll class="stack-scroll">
      <div ng-include src="'templates/feeds/dribbble/_index.html'"></div>
    </ion-scroll>
  </ion-slide>
</ion-slide-box>
