<div class="item item-image">
  <a ng-href="{{ post.html_url }}">
    <img src="{{ post.images.normal }}">
  </a>
</div>

<div class="item item-avatar">
  <img src="{{ post.user.avatar_url }}">
  <a ng-href="{{ post.html_url }}">
    <h2>{{ post.title }}</h2>
  </a>
  <p>
    <a ng-href="{{ post.user.html_url }}">
      {{ post.user.name }}
    </a>
    <span class="post-team" ng-if="post.team">
      for
      <a ng-href="{{ post.team.html_url }}">
        {{ post.team.name }}
      </a>
    </span>
  </p>
</div>
